@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Glamour';
	src: url('./lib/fonts/GlamourAbsolute_Regular.otf');
}

@font-face {
	font-family: 'Summer Loving';
	src: url('./lib/fonts/SummerLoving.otf');
}

/* ShadCN */

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 92% 38%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--destructive: 359 51% 48%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}

/* End ShadCN */

h1,
h2,
h3,
h4 {
	@apply font-glamour;
}

h2 {
	@apply text-5xl lg:text-6xl;
}

h3 {
	@apply text-4xl;
}

/* Custom colors */

.color-1 {
	@apply text-pink-500;
}

.color-2 {
	@apply text-violet-700;
}

.color-3 {
	@apply text-blue-900;
}

/* Components */

.primary-button {
	border-radius: 12px;
	border: 1px solid #15803d;
	background: linear-gradient(180deg, rgba(21, 128, 61, 0.2) 0%, rgba(134, 239, 172, 0.2) 100%),
		#86efac;
	@apply px-8 py-4 flex w-fit font-bold text-green-700 hover:scale-110 transition-all ease-linear duration-150 delay-75 shadow-button hover:shadow-hover gap-2 items-center;
}

.outline-button {
	@apply px-8 py-3 flex w-fit font-bold text-slate-300  transition-all ease-linear duration-150 delay-75 hover:border-slate-500 gap-2 items-center rounded-xl border-2 border-slate-300 cursor-not-allowed;
}

/* Text */

.subtitle {
	@apply text-white opacity-[64%] text-lg font-semibold;
}

/* Misc */

.p-section {
	@apply px-6 py-10 lg:px-20 lg:py-20;
}
